name: Code Quality

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  ESLint:
    name: ESLint
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
    - name: Use Node.js 14
      uses: actions/setup-node@v1
      with:
        node-version: 14
    - name: Restore CI Cache
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.os }}-14-${{ hashFiles('**/yarn.lock') }}
    - name: Install Dependencies
      run: yarn --frozen-lockfile --ignore-scripts
    - name: Run ESLint
      uses: icrawl/action-eslint@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        job-name: ESLint
